body{
    margin: 0;
    text-align: center;
}
p {
    margin: 10px 40px;
    font-weight: 500;
    color: #121212;
    padding-bottom: 10px;
}
h1 {
    margin: 20px auto;
    color: #121212;
}
.img{
    width: 380px;
    border: 3px solid #121212;
}
input{
    display: block;
    margin: auto;
    text-align: center;
    border: 3px solid #121212;
    padding: 10px 0 8px 40px;
    color: #121212;
    font-weight: 600;
}
button{
    margin-top: 10px;
    text-align: center;
    border: 3px solid #121212;
    background-color: #121212;
    color: white;
    padding: 10px 80px;
}
a{
    color: #121212;
    
}